[2018-10-10 10:00] pvk-developer opened #1 "Update requirements installation"
* deepsteganography version: -
* Python version: 3.6.5
* Operating System: Ubuntu 18.04.1 LTS

### Description

I was trying to follow the readme and install DeepSteganography, however there is no requierements.txt instead the requirements are inside `setup.py`  so I had to install with `pip install .`

### What I Did

[code]

[2018-10-10 10:14] pvk-developer opened #2 "Missing resources"
* deepsteganography version: 4c20224
* Python version: 3.6.5
* Operating System: Ubuntu 18.04.1 LTS

### Description

I was trying to execute the `python -m pytest`, following the readme. There is missing the folder `tests/resources` which should contain this two files `flag.jpg` and `output.png`

### What I Did

[code]

[2018-10-10 10:25] pvk-developer opened #3 "Add attribute model to Steganographer"
* deepsteganography version: 4c20224
* Python version: 3.6.5
* Operating System: Ubuntu 18.04.1 LTS

### Description

I was trying to follow the readme and execute the `Usage` example.  After adding an image to `tests/resources/flag.jpg` and executed the code snipped what I got was `AttributeError: 'Steganographer' object has no attribute 'model'`

### What I Did

[code]

[2018-10-10 13:21] #3 closed, assigned to nobody

[2018-10-10 13:21] #2 closed, assigned to nobody

[2018-10-10 13:21] #1 closed, assigned to nobody

[2018-12-04 12:02] pvk-developer opened #4 "Rename project to Steganogan"
Rename the project to `steganogan` with cookiecutter and perserve functionality / readme.

[2018-12-04 12:06] k15z opened #5 "Add command line interface"
After pip installing, a command line interface should be made available which operates something liek this:

[2018-12-04 14:28] csala opened #6 "Improve code styling"
Code style should be reviewed to follow flake8 and isort tips, as well as to ensure some common best practices.

[2018-12-10 18:08] #4 closed, assigned to pvk-developer

[2018-12-10 18:35] csala opened #8 "New project API"
Reorganize the project structure and API.

From the API point of view, all the functionalities will be implemented as methods of a single class, called SteganoGAN.
An additional class called ImageLoader will be created, responsible of loading images from a folder.

The class will be `steganogan.steganogan.SteganoGAN`, which will also be importable as `steganogan.SteganoGAN`.

This class will recei

[2018-12-12 18:05] csala commented on #6
Closed via #9

[2018-12-12 18:05] #6 closed

[2018-12-22 16:58] #8 closed

[2018-12-22 17:10] csala opened #12 "Add unit tests and integrate with travis"

[2018-12-22 21:43] #5 closed

[2018-12-22 21:44] csala commented on #12
resolved via #13

[2018-12-22 21:44] #12 closed

[2018-12-23 03:05] k15z opened #15 "Add pre-trained models"
Reproduce the experiment results and commit the best pre-trained models.

[2018-12-28 20:23] k15z opened #17 "Improve robustness against JPEG noise"
**Metrics:**
During testing, we should convert the image to JPG and add another metric - **JPEG-BPP** - which reports the resulting bits-per-pixel. This will most likely be a lot lower than the standard BPP.

**Training:**
We should consider creating a layer which (1) selects random 8x8 patches of the image, (2) applies the DCT transform, (3) zeros out the $N$ highest frequency components where la

[2019-01-03 15:06] csala commented on #15
Closed via #16

[2019-01-03 15:06] #15 closed

[2019-01-03 15:44] k15z opened #18 "Using pretrained models on CPU-only devices"
Despite retraining the models with the updated code which moves the models to CPU before saving, we are still unable to load the pre-trained models on CPU-only devices. To reproduce this issue only a CPU device, just run:

To reproduce this issue only a GPU device, you can use:

It's not clear to me why this is happening. so the easiest way to fix things may be to switch everything over to torch.s

[2019-01-03 17:23] #18 closed

[2019-01-05 23:01] k15z opened #20 "Inconcsistent GPU memory usage."
For faster training times, we should increase the batch size. For example, we should set batch size so that we are consistently near 100% GPU memory usage during training. However, our current memory usage pattern has sharp spikes when switching from training the critic/encoder/decoder to validating them. It's not clear to me why this is happening - it does not appear to be a caching issue - so I

[2019-01-06 17:38] csala opened #21 "Add unit tests"

[2019-01-07 16:34] pvk-developer opened #22 "Refactorize critics and decoders"
As we added a new Decoder, we can see that the code it's quiet similar and it should be refactorized in order to follow the same structure as `encoders.py`.
Same it's happening for `critics.py`. Refactorizing this now, will save us time in unit tests and if we want to add more architectures in the future it will be easier.

[2019-01-08 16:21] garimakaushik22 opened #23 "make install command is not working from git bash"
I cloned the repository  from GitHub and as given in readme tried to execute make install command.
I am getting below error.

$ make install
bash: make: command not found

[2019-01-08 16:33] garimakaushik22 opened #24 "pip install steganogan is throwing error"
I am using conda prompt with python version 3.6.5.  I ran pip command from anaconda prompt but it's throwing below error.
Error:
(base) C:\Users\g.a.kaushik>pip install steganogan
Collecting steganogan
  Downloading https://files.pythonhosted.org/packages/7b/c6/51f9877b85b39d0c70ebf512f5afbafe089751f8e62f363381bbb12c1071/steganogan-0.1.1-py2.py3-none-any.whl (2.8MB)
    100% |█████████████████████

[2019-01-09 09:00] csala commented on #23
Hello @garimakaushik22 Would you mind providing some more details about you environment?

Specifically, can you please fill the following form?

* SteganoGAN version or git commit:
* Python version:
* Operating System:

### Description

Describe what you were trying to get done.
Tell us what happened, what went wrong, and what you expected to happen.

### What I Did

[code]

Anyway, the error that

[2019-01-09 09:14] csala commented on #24
Hello @garimakaushik22 Would you mind providing some more details about you environment?

Specifically, can you please fill the following form?

* SteganoGAN version or git commit:
* Python version (output of `pip --version`):
* Pip version (output of `pip --version`):
* Operating System:

### Description

Describe what you were trying to get done.
Tell us what happened, what went wrong, and what

[2019-01-09 09:16] csala opened #25 "Add GitHub Issue template"
A template should be added for the github issues, such as:

    * SteganoGAN version or git commit:
    * Python version (output of `pip --version`):
    * Pip version (output of `pip --version`):
    * Operating System:

    ### Description

    Describe what you were trying to get done.
    Tell us what happened, what went wrong, and what you expected to happen.

    ### What I Did

[code]

[2019-01-09 09:25] csala opened #26 "Cleanup the setup.py dependencies"
The current list of dependencies include some fixed versions and some libraries that do not seem to be used at all:

[code]

On the other side, the code uses `numpy` in several places but it is not listed as a dependency, so it should be included.

[2019-01-10 06:56] garimakaushik22 commented on #23
Hello,
Yes I am using Windows 10. May I know what environment is this coded in? Is their any specific requirement needs to be taken care when running in windows.

•Python version (output of pip --version): Python 3.6.5
•SteganoGAN version or git commit:  -current_version = 0.1.1
+current_version = 0.1.2-dev

•Operating System: Windows 10

[2019-01-10 08:34] csala commented on #23
Hi @garimakaushik22
The only requirement is that your system is able to build python packages using `make`, which in most cases is just a matter of installing it.
Regarding the platform, this was coded in Mac and Linux machines, but it should not be relevant in this case, since in most cases `make` is not there by default in mac and linux and also needs to be installed manually beforehand.
Were yo

[2019-01-10 09:08] csala commented on #24
I believe the problem is there: this is not the right `pip`. As you can see, this is the "generic" pip binary, the one that is available system wide, when you should be using one that is specific to a conda env.

I'm sure there should be resources that explain how to setup `pip` properly to be used within a conda env. Can you check if they help?

Here you have an example: https://stackoverflow.com

[2019-01-15 18:57] csala opened #29 "The `flake8` tox environment should be called `lint`"
https://github.com/DAI-Lab/SteganoGAN/blob/3fd9c32c1c07e89a2f63d7d18b191074dd886692/tox.ini#L2

The linting environment is wrongly called `flake8` in the environments list when it should be `lint`, so travis (or a local `make test-all` call) is not getting the right configuration and not running the `make lint` command as required.

[2019-01-16 09:54] garimakaushik22 commented on #24
Hi
I have installed pytorch and now I face issue with scikit-learn which  I have already installed  through pip command and it says requirement successful but when I run the  command to install steganogan, I get below error.

 Rolling back uninstall of scikit-learn
Command "C:\Anaconda\envs\steg\python.exe -u -c "import setuptools, tokenize;__file__='C:\\Users\\GA07C1~1.KAU\\AppData\\Local\\Temp\\

[2019-01-16 10:34] csala commented on #24
Hi @garimakaushik22 It's very difficult to see what the error is here.

Would you mind pasting the whole sequence of commands and their output, and formatting everything as code using markdown?
In order to do so, please surround the whole block of code using triple backticks:  ` ``` `

[2019-01-16 10:44] #22 closed

[2019-01-16 11:31] pvk-developer opened #32 "Check github url"
The url arround the project it's in lowercases `steganogan` instead of being `SteganoGAN` as the original repository.

[2019-01-16 13:31] #25 closed

[2019-01-16 13:41] #32 closed

[2019-01-16 13:49] csala commented on #26
Closed via #33

[2019-01-16 13:49] #26 closed

[2019-01-25 20:53] #21 closed

[2019-01-29 14:34] csala opened #35 "Move `_get_steganogan` logic to `SteganoGAN.load`"
The code that loads the pretrained models is currently inside a "private" function in the `cli.py` module.

This should be moved inside the `SteganoGAN.load` method to allow loading pretrained models directly from the class.

For this, the following changes are needed:

* Add an `architecture` argument to the `load` method.
* Make the `path` argument from the `load` method optional (`=None`).

The

[2019-01-29 14:35] csala opened #36 "Integrate with Codecov"

[2019-02-01 17:39] #35 closed

[2019-02-14 19:55] garimakaushik22 commented on #23
Hi,
Sorry for the late reply. I was able to install make command but I am still getting error running make install.

Error:
"fatal: ambiguous argument 'HEAD': unknown revision or path not in the working tree.
Use '--' to separate paths from revisions, like this:
'git <command> [<revision>...] -- [<file>...]'
fatal: ambiguous argument 'HEAD..stable': unknown revision or path not in the working tree

[2019-02-14 19:59] csala commented on #23
Hello @garimakaushik22 I'm afraid we need more details about the error and its context.

Can you paste all the details? Right now we can only see that there was an error, but it's hard to see where it came from.

Also, would you mind formatting it using markdown? Here you have a guide: https://help.github.com/articles/creating-and-highlighting-code-blocks/

[2019-02-14 20:11] garimakaushik22 commented on #23
I am running make install command from gitbash after cloning the repository.
Please find the complete stack trace. I have installed make
[code]

[2019-02-15 08:36] garimakaushik22 commented on #24
Hi,
I am getting below error after correcting all torch and scikit learn issue. I saw this is a known issue in torch. Please find the error.
[code]

[2019-02-15 10:39] pvk-developer commented on #23
Hi!
The problem there is that you may be missing the branch `stable`. In order to fix this, just run:
`git branch stable`. This should allow you to use `make`.

[2019-02-15 10:54] pvk-developer commented on #24
Hi @garimakaushik22
I think that this may be VRAM issue. Could you try loading the model with `cuda=False`:
[code]
Or before running `steganogan.encode` you can run: `steganogan.set_device(cuda=False)`

Or if you would like to use it from the `command line interface` just use: `steganogan encode -i path_to_image -o path_to_output 'This is a secret message' --cpu`

[2019-02-15 17:50] garimakaushik22 commented on #24
Hi,
I have tried both the above option still getting same error.
[code]

[2019-02-20 08:12] garimakaushik22 commented on #24
Hi,

I am also running on 8GB RAM.  I have tried running it with CUD= FALSE but still it shows RAM issue. Can you please suggest what is the RAM configuration  needed?

[2019-02-20 15:37] csala commented on #23
Hi @garimakaushik22

We looked at your error trace and tried to reproduce the error, and we cannot see what it could be, as the trace provides no information.

Can you please try to execute the following and report back?

[code]

Just to clarify, this is just what `make install` is running under the hoods, so hopefully we will obtain more information out of it.

[2019-02-20 15:42] csala commented on #24
Hi @garimakaushik22

We cannot provide an exact answer to this question, as the needed RAM depends directly on the size of the images being used and the architecture of the system where it is run.

So, all we can tell is that the examples from the README using the `research/input.png` image were done in a Linux machine with 32Gb of RAM.

So, could you try using a smaller image? Something that has

[2019-02-20 16:19] garimakaushik22 commented on #24
Hi @csala
 Thanks! It worked with smaller image.
I have 2 questions as mentioned below:
1) It took around 50 sec of time to decode a very small text from a 100Kb of image. Is that fine from performance perspective?
2) What all image format will it support other than png?

[2019-02-20 16:39] garimakaushik22 commented on #23
Hi @csala

Please find the stack trace of error

[code]

[2019-02-20 16:50] csala commented on #23
Hello @garimakaushik22

Please copy the entire command. Notice that there is a `.` at the end, after the `install`.

Also, it doesn't look like you are using any kind of environment isolation tool.
I recommend you that you the installation inside either a virtualenv or a conda environment.

[2019-02-20 16:59] csala commented on #24
Hi @garimakaushik22

Yes, that is normal. The process is usually slow, especially when the GPU is not used.

Regarding formats, the input for the encoding can be almost any image format: bmp, png, jpg, gif, etc.

However, the encoding output has to be in a lossless format, like bmp or png. jpg or gif, for example, would not be valid output formats, as the encoder would produce a valid image but th

[2019-02-20 19:05] garimakaushik22 commented on #23
I am using gitbash for cloning from git and using the command from gitbash itself.
Error from Git Bash:
[code]

I have tried the same thing from anaconda prompt and getting below error:

[code]

[2019-02-20 19:55] csala commented on #23
@garimakaushik22 Please either use a conda environment, or make sure to create a virtualenv with the right python versions in it in the other one.

Then, once you are in the conda prompt, that error showed up because there were two characters in the README that windows encoding does not support. I already replaced them, so please pull from `master` and try again.

[2019-02-20 22:51] csala commented on #24
Closing the issue, as the original problem seems to be solved. Please feel free to reopen it if there is need for a follow up.

For any further questions unrelated to the `pip install steganogan` command, please open new issues.

[2019-02-20 22:51] #24 closed

[2019-02-22 12:12] garimakaushik22 commented on #23
Hi @csala

It worked in anaconda prompt. But make install still failed whereas pip install worked fine.
I am getting the encoded/ decoded output both. But I am getting some warning after the output.

[code]

(steg) C:\Users\g.a.kaushik\Desktop\test1\SteganoGAN>steganogan decode C:\\Users\\g.a.kaushik\\Desktop\\test\\out.png
c:\anaconda\envs\steg\lib\site-packages\torch\serialization.py:434: Source

[2019-02-22 15:28] csala commented on #23
@garimakaushik22 Let's keep this issue only for the `make install` issue.

If you were able to execute `make install` successfully and errors show up when running the `steganogan` command, please close this issue and open a new one reporting the error there.

[2019-02-25 15:03] garimakaushik22 commented on #23
@csala

make install didn't work. I was able to use pip install.
As mentioned in my last comment  why am I getting warning message?

[code]

[2019-02-25 15:07] garimakaushik22 opened #39 "Not able to read encoded message from other Tool"
Hi Team,

I tested with 3 tools and this is not able to recognize steg text from other tool.

[code]

[2019-02-25 16:23] csala commented on #39
Hello @garimakaushik22

I'm afraid this is the expected behavior: SteganoGAN goal is to encode messages into images and afterwards decode the messages from those images, but decoding messages from images generated by other tools is not within the scope of this project.

[2019-02-25 16:23] #39 closed

[2019-02-25 16:28] csala commented on #23
Hello @garimakaushik22

You are able to execute the `steganogan` command only after a successful installation, so we can assume that the `make install` command worked properly.

Regarding the warnings, this is the expected behavior when using the `master` branch, as the pretrained models correspond to an older version of the code. In order too avoid those, please checkout the `stable` branch.

But

[2019-02-25 16:28] #23 closed

[2019-02-26 09:04] zhangqizky commented on #17
Hi～thank you for releasing it，it is awesome.
I have one question, is  it impossible for steganography robust to resizing, rotating and other attacks in current?
I have done a small test, resizing and rotating output image will make the hidden message can not be extracted. Is there any steganography method can defend some common image attacks?

[2019-02-26 17:37] garimakaushik22 commented on #39
Hi @csala

Thanks! we can close this issue.

[2019-02-26 17:37] garimakaushik22 commented on #39
Hi @csala

Thanks! we can close this issue.

[2019-02-27 11:00] garimakaushik22 opened #40 "Technical information"
If we need to integrate this in client environment. Do we need to make them install conda prompt and create an virtual environment or is there any other way we can do that ? Installing conda will be an overhead. can we have some exe file which can be directly run?

[2019-04-26 11:16] wangxin1999 opened #41 "fail to decode message"
I'm afraid this is the expected behavior: SteganoGAN goal is to encode messages into images and afterwards decode the messages from those images, but decoding messages from images generated by other tools is not within the scope of this project.  i was troubled with this problem for almost 1 month,i asked many friends of mine to solve this problem until them all found this problem

[2019-04-26 13:11] #41 closed

[2019-05-15 14:54] mrliliang opened #42 "Failed to run command steganogan encode"
* SteganoGAN version or git commit:

* Python version (output of `python --version`):
  Python 3.7.0
* Pip version (output of `pip --version`):
   pip 10.0.1 from /usr/local/python3.7/lib/python3.7/site-packages/pip (python 3.7)
* Operating System:
   MacOS 10.14.4
### Description

I installed SteganoGAN by pip, and just try to test the command **steganogan encode** to encode some text to an image

[2019-05-15 16:22] pvk-developer commented on #42
Hello @mrliliang , would you mind provinding one more detail about your environmet?
We would like to know your `torch` version. To do so, you can run `pip3 freeze | grep torch` which will display such an information.

We believe that the problem comes with a recent release from `torch` (they released the version 1.1.0) and in case that you have the version `1.1.0` we would suggest you to use the v

[2019-05-16 02:05] mrliliang commented on #42
My torch vision 1.1.0, detail is in the following
torch==1.1.0
torchvision==0.2.2.post3

I will try torch 1.0.0, thank you

[2019-05-16 02:32] mrliliang commented on #42
Your are right, torch 1.0.0 works well. Thank you.

[2019-05-16 08:05] pvk-developer commented on #42
Thank you for your feedback @mrliliang , we will updated the `setup.py` to use and require the version `1.0.0`, and also we will update the `README` file in order to inform that we are using the `torch 1.0.0` in case some other user has this same problem.

[2019-05-28 16:19] #42 closed

[2019-06-01 15:30] foreverxq opened #44 "Hiding a tensor instead of a sentence"
In your project there are pretrained model for hide a sentence,  but i want to hide a  data tensor
 with the shape of [N, C, H, W]。I'd like to ask whether you have a pretrained model for hiding tensor?   Thank you for your help.

[2019-06-03 13:59] #44 closed

[2019-09-02 07:36] #36 closed

[2019-09-05 10:47] liangxuejingjing commented on #17
Hello, thank you for releasing it , and I am running your codes.I have some questions about your paper:
1, How many pictures do you use to train and valid?
2, Why you use the D which is the upper-bound on the relative payload ?I can't understand this parameter. Please tell me the reasons.

[2019-11-20 18:20] sharmaprakhar opened #47 "Decode statement throws out error with png image"
* SteganoGAN version or git commit:
* Python version (output of `python --version`):
* Pip version (output of `pip --version`):
* PyTorch version (output of `python -c "import torch; print(torch.__version__)"`):
* Operating System:

### Description

Describe what you were trying to get done.
- Encode and decode a jpg and a png image
Tell us what happened, what went wrong, and what you expected to

[2019-11-21 09:24] csala commented on #47
Hello @sharmaprakhar

Thanks for reporting this and for the suggested changes. Unfortunately, it is not clear from your description what the actual error is.

Would you mind editing the issue and adding to the "What I did" section the exact commands that you executed and the outputs that you obtained, including the error traceback?

[2019-12-11 13:10] guidefreitas commented on #47
Hello, got an error too when decoding an png image. Details:

`ERROR: invalid literal for int() with base 2: 'TrueTrueFalseFalseFalseTrueTrueTrue'`

[2020-01-04 19:57] sanjailal opened #48 "Issue in installing torch"
* SteganoGAN version or git commit: 0.1.2
* Python version (output of `python --version`): 3.7.3
* Pip version (output of `pip --version`): 19.3.1
* Operating System: Windows

### Description

Unable to install torch version 1.0.0

### What I Did

I just tried installing steganogan using pip

[code]

[2020-01-07 09:39] pvk-developer commented on #48
Hello @sanjailal thank you for opening this issue, as the error states, `torch` couldn't be installed.

In windows we recommend you to install the package as shown on the pytorch website, briefly, use the following command `pip3 install torch===1.0.0 torchvision===0.2.1 -f https://download.pytorch.org/whl/torch_stable.html`. This will download and install `torch===1.0.0` which was used for develop

[2020-01-07 21:51] sanjailal commented on #48
When I tried the following command I still get this same error
[code]

[2020-01-08 08:36] pvk-developer commented on #48
Hello @sanjailal,
Would you mind answering me the following questions:
- Are you using a virtualenv ?
- If you are using `virtualenv` is it only for `SteganoGAN` or you have other software installed ?
- Could you run `pip freeze` and post the results here in order to see your dependencies ?

[2020-01-08 08:40] pvk-developer commented on #47
Hello @guidefreitas, I have faced this problem recently. Would you mind checking out the `torch` version?
`SteganoGAN` must use is the `1.0.0` and I have faced the problem with higher `torch` versions. We will make a new release shortly in order to limit the `torch` version (as it's already in master).

[2020-01-10 21:26] sanjailal commented on #48
I used the same command. Anyways I switched to Linux where it works seamlessly. Thank you for your support.

[2020-01-10 21:26] #48 closed

[2020-01-22 00:12] sharmaprakhar opened #49 "New trained models fail to find the encoded message"
* SteganoGAN version or git commit:
* Python version (output of `python --version`): 3.7
* Pip version (output of `pip --version`):
* PyTorch version (output of `python -c "import torch; print(torch.__version__)"`): 1.4.0
* Operating System: linux

### Description

Describe what you were trying to get done.
Tell us what happened, what went wrong, and what you expected to happen.

I am trying to tr

[2020-01-22 08:37] csala commented on #49
Hi @sharmaprakhar

It looks like you are using a newer version of PyTorch, which might be the cause of the error.

Can you make sure that you are using the right dependencies and try again?

You can find the dependency ranges here: https://github.com/DAI-Lab/SteganoGAN/blob/95d61e69f040ede86a7ae74bbee8764cd70d8c82/setup.py#L14
Note that if you install steganogan on its own (`pip install steganogan

[2020-01-23 22:57] sharmaprakhar commented on #49
I did a clean install of all the dependencies using setup.py and made sure training and testing was done on pytorch 1.0.0. Still the same result. The training goes smoothly it's just the decoding (using the code provided in basic_fit.ipynb) doesn't work. I wonder if i'm doing something wrong with the testing or is the model isn't learning anything.

"ValueError: Failed to find message"

[2020-01-27 15:06] pvk-developer opened #50 "Cap Pillow and other dependencies"
There have been some updates to `Pillow` which makes `Torchvision` to fail trying to import `PILLOW_VERSION` from `PIL`.

[2020-01-27 15:16] pvk-developer opened #51 "Fix save and load methods."
* SteganoGAN version or git commit: 0.1.2

### Description

Trying to save / load my fitted model I'm not able if the directory doesn't exist, or if I try to load a model from the current path.

[2020-01-27 17:46] pvk-developer commented on #49
Hello @sharmaprakhar , I belive we are missing a `0` on the epochs. Basicly, 10 epochs to train its basicly nothing. If I don't remember wrong, when we  wrote the `notebook` we just wanted to show it as an example on how you can create your own model.
If you just set your `epochs` to `100` then you will be good to go.

I will update that as soon as possible to not cause any confussion on the futur

[2020-01-27 20:29] hugovk commented on #50
There's now a new release of torchvision (0.5.0) that works with the newest Pillow version (7.0.0).

* https://github.com/pytorch/vision/releases/tag/v0.5.0
* https://github.com/pytorch/vision/issues/1712

An alternative to https://github.com/DAI-Lab/SteganoGAN/pull/52 is updating the torchvision pin from 0.2.1 to 0.5.0.

[2020-01-27 21:28] pvk-developer commented on #50
Hi @hugovk  and thank you for your anwser. I will check out if `SteganoGAN` is working properly with that version of `torchvision` and if everything is okay I will proceed to update it to `torchvision==0.5.0` .

[2020-02-08 09:46] sanjailal opened #53 "Import DataLoader not supporting in torch version 1.0.0"
* SteganoGAN version or git commit:
* Python version : 3.6.9
* Pip version :  19.3.1
* PyTorch version : 1.0.0
* Operating System: Google Colab

### Description

Was trying to run basic_fit.ipynb in Google Colab.

Got an error in this statement
```from steganogan.loader import DataLoader```

when I changed my torch version to 1.4.0 the error disappears but kernel is dead when i run
```steganogan.d

[2020-02-09 00:35] pvk-developer commented on #53
Hello @sanjailal ,

This kind of issues are not part of `SteganoGAN`, however, in order to use Google Colab for your fitting or running your experiments, I will suggest you to do the following:

- First install `steganogan` and other "requierements" that have been capped #54 (as we have not made a release yet, you should install it with the following command (1st code cell): `!pip install Pillow==

[2020-02-09 11:15] #53 closed

[2020-03-02 11:29] lrq3000 opened #55 "Please update reedsolo"
Hello,

I am the current maintainer of [reedsolo](https://github.com/tomerfiliba/reedsolomon).

We have recently pushed major updates which increase speed and stability, but the API had to be changed.

If you are still using reedsolo, please ensure that you handle the 3 variables returned by reedsolo.

Before:

[code]

Now:

[code]

As an alternative, you can setup your requirements.txt to require

[2020-04-15 06:40] SINDHUN97 opened #59 "AttributeError:'PngImageFile' issue encoding and decoding image"
* SteganoGAN version or git commit:pip install steganogan
* Python version (output of `python --version`):3.7.3
* Pip version (output of `pip --version`):19.0.3
* PyTorch version (output of `python -c "import torch; print(torch.__version__)"`):1.0.0
* Operating System:Windows

### Description
I am not able to encode or decode images(format .png).
Error encountered:
##AttributeError: 'PngImageFile'

[2020-04-17 17:29] hugovk commented on #50
You can also now upgrade to Pillow 7.1.0+, which reintroduced `PILLOW_VERSION` to allow projects some more time to update.

https://pillow.readthedocs.io/en/stable/releasenotes/7.1.0.html#pillow-version-constant

[2020-04-23 09:47] #50 closed

[2020-04-23 09:47] #55 closed

[2020-04-24 07:49] pvk-developer commented on #59
Hello @SINDHUN97, we have made a new release that may solve the issue that you are facing.

Can you try to install it again and run the example in the [README](https://github.com/DAI-Lab/SteganoGAN#python). If you are using `pip` make sure to use: `pip install steganogan=0.1.3`, this will install force to install the latest version. I would recommend you to use a new `virtualenv` this way it will

[2020-04-28 03:18] SINDHUN97 commented on #59
Hi @pvk-developer ,
Thanks for the response and this new release is working.

[2020-04-28 08:29] #59 closed

[2020-04-28 08:33] pvk-developer commented on #51
This was a missunderstanding from me:
The load methods are working perfectly fine, however it takes the following arguments:
- `architecture` (str): Name of a pretrained model to be loaded from the default models.
- `path` (str): Path to custom pretrained model. *Architecture must be None.
- `cuda` (bool): Force loaded model to use cuda (if available).
- ` verbose` (bool): Force loaded model to us

[2020-04-28 08:33] #51 closed

[2020-04-28 08:34] pvk-developer commented on #49
@sharmaprakhar Could you give us any feedback on this, have you managed to train your model and find the message encoded ?

[2020-04-28 09:03] sharmaprakhar commented on #49
Hi Plamen,

Thanks for the email. You were right. The issue resolved when training for
100 epochs. I have another question. SteganoGAN currently succeeds in
encoding the message to a jpg file but fails to decode it. Is there any way
I can modify the architecture to be able to decode from jpegs too
(steganogan currently outputs a png file after encoding)

I would appreciate any help here.

-Prakhar

[2020-04-30 09:21] pvk-developer commented on #49
Thank you fro your feedback @sharmaprakhar , could you open a new issue about that and we can discuss it there ? I will close this issue as it's solved.

Thanks.

[2020-04-30 09:21] #49 closed

[2020-04-30 09:23] pvk-developer commented on #47
I'm closing this issue as we capped outside libraries, see  #54 and #50 , that fixes those kind of issues.

[2020-04-30 09:23] #47 closed

[2020-05-05 03:28] sharmaprakhar opened #60 "Not able to embed more than 1000 bytes in provided png image"
* SteganoGAN version or git commit:0.1.2
* Python version (output of `python --version`):3.7
* Pip version (output of `pip --version`):19.3.1
* PyTorch version (output of `python -c "import torch; print(torch.__version__)"`):1.3.0
* Operating System:iOS

### Description

Describe what you were trying to get done.
Tell us what happened, what went wrong, and what you expected to happen.
I installed

[2020-05-05 21:35] k15z commented on #60
The image provided in the `research` directory looks significantly different from the types of images in the training set (i.e. it's much higher resolution and has different types of objects); I would hypothesize that this is why the performance is significantly lower than expected. You should be able to achieve better results using images from the MS-COCO or Div2K datasets (specifically, their va

[2020-06-14 17:37] zhanghonguk commented on #17
@zhangqizky I also got the same result, this method is not robust against resizing, rotating, etc

[2020-06-26 04:13] SINDHUN97 opened #61 "Training with mscoco data set"
* SteganoGAN version or git commit: 0.1.3
* Python version (output of `python --version`): 3.7.3
* Pip version (output of `pip --version`):20.1.1
* PyTorch version (output of `python -c "import torch; print(torch.__version__)"`):1.0.0
* Operating System: Ubuntu Deep Learning instance(Instance Type: g4dn.2xlarge)

### Description
I started training SteganoGAN with mscoco data set using above instan

[2020-07-01 15:54] SINDHUN97 opened #62 "Training process stopped at a point"
* SteganoGAN version or git commit: 0.1.3
* Python version (output of `python --version`): 3.7
* Pip version (output of `pip --version`):20.1.1
* PyTorch version (output of `python -c "import torch; print(torch.__version__)"`):1.0.0
* Operating System: Ubuntu Deep Learning instance(Instance Type: g4dn.2xlarge)

### Description
Hi,
I am running Jupyter Notebook on Ubuntu Deep Learning instance(Inst

[2020-07-08 01:17] k15z commented on #61
It looks like you're running it through the Python API, just to confirm, you are setting `cuda=True` when you create the `SteganoGAN` instance?

[2020-07-08 03:03] SINDHUN97 commented on #61
Hi @k15z ,
Yes  I am setting ```cuda=True``` in the API
 ```SteganoGAN(1, BasicEncoder, BasicDecoder, BasicCritic, hidden_size=32, cuda=True, verbose=True)```

[2020-07-08 18:03] k15z commented on #61
Ok. The running time seems reasonable to me, we ran our original experiments on `p2.8xlarge` instances and I believe it took around 2 hours per epoch.

[2020-07-08 20:13] kveerama commented on #61
@k15z how many number of `epochs` are needed to train the model? Also @udvattam reported 1.5 hours on the same dataset. Is there a recommendation on the `batch_size`?

[2020-07-08 20:49] udvattam commented on #61
@kveerama I trained on a modified version of the dataset, using only half of the data, which is why I think it was faster. However, I experimented with batch size for training and validation, and the time reduced as I increased the batch size even up to a size of 100. The time decrease plateud around a batch size of 32 for me.

[2020-08-14 06:36] Sukriti-varma06 opened #63 "Steganogan failed to decode"
* SteganoGAN version: 0.1.3
* Python version (output of `python --version`): 3.7.3
* Pip version (output of `pip --version`): 20.0.2
* PyTorch version (output of `python -c "import torch; print(torch.__version__)"`): 1.0.0
* Operating System: Windows

### Description
Steganogan model failed to decode the message from 18,655 images out of 20,000 tested. ("Failed to find message" as output)
Encoded

[2020-08-27 13:10] SINDHUN97 opened #64 "SteganoGAN status return after enoding"
* SteganoGAN version or git commit: 0.1.3
* Python version (output of `python --version`): 3.7.3
* Pip version (output of `pip --version`): 20.0.2
* PyTorch version (output of `python -c "import torch; print(torch.__version__)"`): 1.0.0
* Operating System: Windows

### Description
SteganoGAN does not return any status for success/failure after encoding. It would be helpful if it returns the status

[2020-09-12 02:04] zyzhu19 commented on #17
试试鲁棒隐写。。。我最近在尝试

[2020-10-15 13:07] zhoufengfan opened #65 "It returns "ERROR: Failed to find message.", but I have encode message in the image."
* SteganoGAN version or git commit:
* Python version (output of `python --version`):
* Pip version (output of `pip --version`):
* PyTorch version (output of `python -c "import torch; print(torch.__version__)"`):
* Operating System:

### Description

Describe what you were trying to get done.
Tell us what happened, what went wrong, and what you expected to happen.

### What I Did
`import os
from st

[2020-10-21 12:19] zhoufengfan commented on #65
It's all the output. You can't review it.

[2020-10-21 12:19] zhoufengfan commented on #65
It's all the output. You can review it.

[2020-11-14 15:16] rainyear commented on #65
Same for me, I used the command line.

[2021-01-19 03:31] Czdlx commented on #65
Has anyone solved it？could you help me?

[2021-01-19 04:41] river-huang commented on #65
th problem from utils,the&nbsp;RSCODE can encode messages but often fails to decode them

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "DAI-Lab/SteganoGAN"                                                                                    <notifications@github.com&gt;

[2021-01-19 14:36] river-huang commented on #65
you can change another api

---Original---
From: "Czdlx"<notifications@github.com&gt;
Date: Tue, Jan 19, 2021 11:31 AM
To: "DAI-Lab/SteganoGAN"<SteganoGAN@noreply.github.com&gt;;
Cc: "Subscribed"<subscribed@noreply.github.com&gt;;
Subject: Re: [DAI-Lab/SteganoGAN] It returns "ERROR: Failed to find message.", but I have encode message in the image. (#65)

Has anyone solved it？could you help me?

—

[2021-01-23 02:46] goforself commented on #65
excuse me，how did you change the RS code in the end? l fail to run the bytearray_to_test()&nbsp;function

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "DAI-Lab/SteganoGAN"                                                                                    <notification

[2021-03-27 12:52] jolitte opened #66 "ValueError: invalid literal for int()"
I have tried the python code based on the README.MD file
It encodes the input.png file successfully but the decode gets an error.
ValueError: invalid literal for int()
Need help to solve this issue and how to use the steganogan properly.
Thank you in advance.

Below is the python code:

from steganogan import SteganoGAN
steganogan = SteganoGAN.load(architecture='dense')

steganogan.encode('researc

[2021-03-28 17:56] pvk-developer commented on #66
Thanks for reporting this @jolitte !

Would you mind reporting more information about your environment such as python version, operating system and the output of a `pip freeze` command ?

I'll see if I can reproduce this on my side too.

[2021-04-04 05:35] DG-Abraham commented on #66
I  #met the same problem such as @jolitte,  when i try to decode it report the error which signs " ValueError: invalid literal for int() with base 2: 'TrueFalseTrueTrueTrueTrueTrueFalse' ". I work this project in Windows 10 which installed python 3.8 and pytorch 1.8.1

[2021-04-05 21:08] pvk-developer commented on #66
@DG-Abraham We don't support `python 3.8` officially and the `torch` dependency is set to `1.0.0` as we solved the issue #42

[2021-04-06 03:23] DG-Abraham commented on #66
Nvidia RTX30 device only support Cuda 11, and the oldest version of pytorch that support Cuda 11 is  '1.7.0', so is there no way to solve this problem on RTX30 device? I try to decode on Cuda11, python 3.6, pytorch 1.7.0, it still not works with the same bug.

[2021-05-18 23:40] Vipin0701 commented on #66
Hi @pvk-developer, Could you please guide me through the configuration of Steganogan on local. As I am looking for generating the multiple stego images using steganogan. Thanks

[2021-06-12 08:55] khangt1k25 commented on #65
Same for me, Have anyone resolve this?

[2021-07-02 13:08] hugojcqs commented on #63
Hi, did you fix the issue ?

[2021-07-02 14:11] F-H5 opened #67 "pip install stegano error"
Hi, I am using pycharm 64, with python3.9 Windows 10.  I  tried to install stegano library to use LSB, by using command:
pip install stegano
but it give me the below error:

 ERROR: Command errored out with exit status 1:
   command: 'c:\users\yuri\pycharmprojects\qrcode\venv\scripts\python.exe' -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\Yuri\\AppD
ata\\Local\\T

[2021-07-06 12:41] prot3in commented on #65
hello,i met the same problem.But,when i change the steganogan's version to 0.1.0, all the problems disapeared.

[2021-07-25 16:41] hugojcqs opened #68 "Tool used for CNN representation in SteganoGAN paper"
Hello,
Will going through the article I saw the really beautiful CNN representation. Could you please tell what tool was used ?

Thank you.

[2021-10-22 12:28] purushottam22 opened #69 "How can I train this model on different images ?"
* Windows 10.

### Description
I tried to run this model on different images (like leena). I get segmentation fault.

I want to train this model on different images.

[2022-02-28 14:37] nekomeowww opened #70 "ERROR: invalid literal for int() with base 2: 'TrueFalseTrueTrueTrueTrueTrueTrue'"
* SteganoGAN version or git commit: 0.1.2
* Python version (output of `python --version`): 3.7
* Pip version (output of `pip --version`): 21.2.4
* PyTorch version (output of `python -c "import torch; print(torch.__version__)"`): 1.10.2+cu102
* Operating System: Docker image python:3.7-bulleye on Docker Desktop of macOS
* Pip freeze:
[code]

### Description

I tried to encode and decode the image s

[2022-02-28 14:44] nekomeowww commented on #70
I initially tried this python tool on my macOS with `pip3 install steganogan`, and encountered the same issue: **ERROR: invalid literal for int() with base 2**.

Then I was wondering if my envirnoment is not capable for this,  I tried 0.1.3 with the same image as **Docker image python:3.7-bulleye on Docker Desktop of macOS**, there is no warning messages during the execution, however, I got an err

[2022-04-11 11:47] SunYiLing123 opened #84 "Can the image watermark resist printing and photographing"
* SteganoGAN version or git commit:
* Python version (output of `python --version`):
* Pip version (output of `pip --version`):
* PyTorch version (output of `python -c "import torch; print(torch.__version__)"`):
* Operating System:

### Description

Describe what you were trying to get done.
Tell us what happened, what went wrong, and what you expected to happen.

### What I Did

[code]